<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{plantilla :: head}">
        <title>TechShop</title>
    </head>
    <body>
        <header th:replace="~{plantilla.html :: header}"/>
        <section th:replace="~{fragmentos.html :: botonesAgregar}"/>
        <section th:replace="~{fragmentos.html :: agregarCategoria}"/> 
        <section th:replace="~{fragmentos.html :: listadoCategorias}"/>      
        <a href="fragmentos.html"></a>
    </body>
</html>