
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <section id="contenido">
            <h2>Ejemplos de iframe</h2>
            <article>
                <header><h3> La pagina de fidelitas</h3></header>
                <iframe src="https://sistemas.ufidelitas.ac.cr/" width="700" height="400">
                </iframe>
                <footer>Escuela de sistemas de la Fide</footer>
            </article>
            <article>
                <header><h3> Video de Youtube</h3></header>
                <iframe width="500" height="280"
                        src="https://www.youtube.com/embed/kN1XP-Bef7w"
                        title="Youtuber"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen> 
                </iframe> 
                <footer> Alguien mostrando html5</footer>
            </article>
            <article>
                <header><h3> Stem Center</h3></header>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3929.9805280581695!2d-84.03794158516743!3d9 "
                    width="600"
                    height="450"
                    style="border:0" allowfullscreen=""></iframe>
                <footer>La ubicacion del stem center en google maps</footer>
            </article>
        </section>
    </body>
</html>
